body {
    padding-top: 40px;
    padding-bottom: 40px;

    background: url("../img/words.jpg") no-repeat center center fixed;
    background-size: cover;
}

section {
    margin-right: auto;
    margin-left: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

    width: 80%;
    border: 3em;
    border-radius: 10px;
    color: black;
    background-color: azure;
    opacity: 93%;
}

strong {
    font-weight: bold;
    font-size: 25px;
}

a {
    color: black;
    text-decoration: none;
    margin-top: 20px;
}