<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<section>
    <strong><p th:text="${title}"/></strong>
    <a href="/mindmap">MindMap</a><br>
    <a href="/adobeFlash">Adobe Flash</a><br>
    <a href="/aframe">Aframe</a><br>
    <a href="/babylon">BabylonJS</a><br>
    <a href="/Blender">Blender</a><br>
    <a href="/Blend4Web">Blend4Web</a><br>
    <a href="/cannotjs">CannotJS</a><br>
    <a href="/Canvas">Canvas</a><br>
    <a href="/directx">DirectX</a><br>
    <a href="/d3">D3</a><br>
    <a href="/ewgl-matrices">Ewgl-matrices</a><br>
    <a href="/glsl">OpenGL Shading Language</a><br>
    <a href="/glMatrix">GlMatrix</a><br>
    <a href="/gpu">Graphics processing unit</a><br>
    <a href="/javascript">JavaScript</a><br>
    <a href="/lightgl">LightGL.js</a><br>
    <a href="/mjs">MJS</a><br>
    <a href="/OpenGL">OpenGL</a><br>
    <a href="/osl">Open Shading Language</a><br>
    <a href="/phoriajs">PhoriaJS</a><br>
    <a href="/playcanvas">PlayCanvas</a><br>
    <a href="/shaders">Shaders</a><br>
    <a href="/spline">Spline</a><br>
    <a href="/svg">SVG</a><br>
    <a href="/hlsl">The High-Level Shader Language</a><br>
    <a href="/threejs">Three.js</a><br>
    <a href="/unity">Unity</a><br>
    <a href="/verge3D">Verge3D</a><br>
    <a href="/vrml">Virtual Reality Markup Language </a><br>
    <a href="/WebGL">WebGL</a>
</section>
</body>
</html>